<div class="modal message-modal is-active">
	<div class="modal-background"></div>
	<div class="modal-content">
		<h1 class="message-heading">
			<noscript>It looks like you’ve disabled JavaScript.</noscript>
		</h1>
		<div class="modal-spinner">

		</div>
		<div class="message-content">
			<img src="/images/logos/dojo2-logo-white.svg" alt="">
		</div>
	</div>
</div>
